<div>
  <h1>Make it png</h1>
  <cld-image publicId="sample" fetchFormat="png"></cld-image>
</div>

<div>
  <h1>Low quality</h1>
  <cld-image publicId="sample" quality="1"></cld-image>
</div>

<div>
  <h1>Resize it</h1>
  <cld-image publicId="sample" width="45" crop="scale"></cld-image>
</div>

<div>
  <h1>Radius</h1>
  <cld-image publicId="sample" width="200" radius="50"></cld-image>
</div>

<div>
  <h1>Angle</h1>
  <cld-image publicId="sample" width="200" angle="20"></cld-image>
</div>

<div>
  <h1>Effect Blur</h1>
  <cld-image publicId="sample" width="300" effect="blur:100"></cld-image>
</div>

<div>
  <h1>Opacity</h1>
  <cld-image publicId="sample" width="200" opacity="50"></cld-image>
</div>

<div>
  <h1>Background</h1>
  <cld-image
    publicId="sample"
    width="200"
    opacity="50"
    background="#00ffee"
  ></cld-image>
</div>

<div>
  <h1>Default with invalid publicId</h1>
  <p>Not sure why it's a ? and not flowers</p>
  <cld-image publicId="notsample" width="200" defaultImage="sample"></cld-image>
</div>

<div>
  <h1>Aspect Ratio</h1>
  <cld-image publicId="sample" width="200" aspectRatio="10"></cld-image>
</div>

<div>
  <h1>Auto DPR</h1>
  <cld-image publicId="sample" width="200" dpr="auto"></cld-image>
</div>

<div>
  <h1>Multiple Flags</h1>
  <cld-image
    publicId="sample"
    width="200"
    [flags]="['sanitize', 'splice']"
  ></cld-image>
</div>

<div>
  <h1>Multi step transformations</h1>
  <cld-image publicId="sample.jpg">
    <cld-transformation radius="30"></cld-transformation>
    <cld-transformation
      width="400"
      gravity="north_west"
      crop="crop"
    ></cld-transformation>
  </cld-image>
</div>

<div>
  <h1>Has an Alt Tag</h1>
  <cld-image
    publicId="sample"
    fetchFormat="png"
    alt="Picture of Flowers"
  ></cld-image>
</div>

<div>
  <h1>Responsive image via srcset</h1>
  <cld-image
    publicId="balloons"
    fetchFormat="auto"
    crop="scale"
    [cldSrcSet]="[100, 2000]"
    sizes="(max-width: 500px) 100px, 2000px"
  ></cld-image>
</div>

<div>
  <h1>Video</h1>
  <cld-video publicId="sea_waves" controls="true"></cld-video>
</div>
